@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lance Parkington<br />
    3 Arum Close<br />
    Malvern<br />
    Worcestershire<br />
    WR14 2UT<br />
    <abbr title="Phone">Phone:</abbr>
    01684 891724
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:lance_parkington@hotmail.com">lance_parkington@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:lance_parkington@hotmail.com">lance_parkington@hotmail.com</a><br />
</address>